<!DOCTYPE html>
<html>
<head>
  <title>eSestra</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="header">
  <div class="center">
    <span id="title">eSestra</span>
    <span id="subtitle">...online objednání do ordinace</span>
  </div>
</div>

<div class="center" id="main">
<%= yield %>
</div>

</body>
</html>
