a         {text-decoration: none}
a:link, a:visited, a:active  {color: #235599;}
a:hover   {text-decoration: underline}

div#surgeries {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E7E7E7;
}

div.surgery {
  border-color: #E7E7E7;
  border-style: solid;
  border-width: 1px;
  border-bottom: 0px;
  height: 140px;
  overflow: hidden;
  text-align: left;
}

div.surgery div.specialty {
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
  height: 30px;
  overflow: hidden;
  font-size: 13px;
  font-weight: bold;
  /*            color: rgb(0, 39, 90);*/
  color: #323232;
  position: absolute;
}

div.surgery div.address {
  width: 150px;
  margin-left: 10px;
  margin-top: 40px;
  overflow: hidden;
  font-size: 11px;
  font-weight: normal;
  color: #235599;
  position: absolute;
}

div.surgery div.tlacitko {
  width: 150px;
  margin-left: 8px;
  margin-top: 105px;
  overflow: hidden;
  position: absolute;
}

div.surgery .button {
  font-size: 13px;
  font-weight: bold;
  color: #64AD1B;
  font-style: italic;
/*  color: #dc143c;*/
}



div.surgery div.name {
  width: 290px;
  margin-left: 160px;
  margin-top: 10px;
  height: 30px;
  overflow: hidden;
  font-size: 13px;
  font-weight: bold;
  /*            color: rgb(0, 39, 90);*/
  color: #323232;
  position: absolute;
}

div.surgery div.contacts {
  width: 290px;
  margin-left: 160px;
  margin-top: 40px;
  overflow: hidden;
  font-size: 11px;
  font-weight: normal;
  /*            color: #666;*/
  color: #235599;
  position: absolute;
  /*            background-color: #E5F2FB;*/
}

div.surgery div.opening_times {
  width: 330px;
  height: 118px;
  margin-left: 450px;
  margin-top: 10px;
  overflow: hidden;
  position: absolute;
  background-color: #E5F2FB;
  padding-left: 3px;
  padding-right: 3px;
}

div.surgery div.opening_times tr.opening_times {
  height: 16px;
}

div.surgery div.opening_times .width0 {
  width: 55px;
}

div.surgery div.opening_times .width1 {
  width: 80px;
}

div.surgery div.opening_times .width2 {
  width: 150px;
}

div.surgery div.opening_times .width3 {
  width: 31px;
}

div.surgery div.opening_times .width4 {
  width: 6px;
}

div.surgery div.opening_times div.day {
  position: relative;
  display: inline;
}

div.surgery div.opening_times div.time {
  position: relative;
  display: inline;
}

div.surgery div.opening_times div.top {
  overflow: hidden; /*text, ktery se do bunky nevejde, se nezobrazi*/
  position: absolute;
  height: 8px;
  line-height: 8px;
  font-size: 8px;
  font-weight: normal;
  /*color: #235599;*/
  color: #64AD1B;
  /*color: rgb(0,39,90);*/
  /*color: #dc143c;*/
  left: 0;
  top: 0;
}

div.surgery div.opening_times div.bottom {
  overflow: hidden; /*text, ktery se do bunky nevejde, se nezobrazi*/
  position: absolute;
  height: 10px;
  line-height: 10px;
  font-size: 10px;
  font-weight: normal;
/*  color: #235599;*/
  color: rgb(0,39,90);
  left: 0;
  top: 6px;
}

div.surgery div.opening_times div.time div.one {
  text-align: left;
  display: inline;
  position: absolute;
  overflow: hidden;
}

div.surgery div.opening_times div.time div.two {
  text-align: center;
  display: inline;
  position: absolute;
  margin-left: 30px;
  overflow: hidden;
}

div.surgery div.opening_times div.time div.three {
  text-align: left;
  display: inline;
  position: absolute;
  margin-left: 36px;
  overflow: hidden;
}



