#encoding: utf-8

<table>
  <tr>
    <% @surgeries.each do |surgery| %>
      <td>
        <div class="card">
          <p class="caption"><%= surgery.name %></p>
        </div>
      </td>
    <% end %>
  </tr>
</table>







